<div class="container">
<div class="title-text">
	<p>Professor of</p><p>Pig Latin</p>
</div>
<div class="form-holder">
	<div class="main-image">
		<%= image_tag("RoyalPigReads.jpg")%>
	</div>
</div>

</div>